nav{
  background-color: #16A085;
  margin: 0;
}
ul.menu{
  margin: 0;
}
.menu{
  text-align: center;
}
.menu li{
  display: inline-block;
  margin: 0;
}
.menu a{
  padding: 30px;
  color: white;
  text-decoration: none;
  display: block;
}
.menu a:hover{
background:#1ABC9C ;
}
.titulo{
  background-color: #333;
  overflow: hidden;
}